/* .todo{
    width: 100%;
}
.background {
    height: 100vh;
    background: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center
}
#titulo{
    color: #000;
    //text-shadow: 0.1em 0.1em #fff
}

#login{
    margin-top: 50%;
    max-width: 300px;
} */

body {
    background-color: #E7E7E7;
}